version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: products-api:latest
    ports:
      - "8050:8080"
    depends_on:
      - db
    networks:
      - app-net
    restart: unless-stopped

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: A_Sua_Password
      ACCEPT_EULA: "Y"
    volumes:
      - mssql-data:/var/opt/mssql
    networks:
      - app-net
    restart: unless-stopped

volumes:
  mssql-data:

networks:
  app-net:
    driver: bridge
