version: "3.8"

services:
  portainer:
    image: portainer/portainer-ce:latest
    ports:
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    networks:
      - infra-net
    restart: unless-stopped

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins-home:/var/jenkins_home
    networks:
      - infra-net
    restart: unless-stopped

  sonarqube:
    image: sonarqube:lts
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube-data:/opt/sonarqube/data
      - sonarqube-extensions:/opt/sonarqube/extensions
      - sonarqube-logs:/opt/sonarqube/logs
    sysctls:
      vm.max_map_count: "262144"
    networks:
      - infra-net
    restart: unless-stopped

volumes:
  portainer-data:
  jenkins-home:
  sonarqube-data:
  sonarqube-extensions:
  sonarqube-logs:

networks:
  infra-net:
    driver: bridge
